<p id="notice"><%= notice %></p>


<div class= 'show'>
  <p>
    <% if @picture.image.url %>
    <%= image_tag @picture.image.medium.url %>
    <% end %>
  </p>
  <p>
    <%= @picture.title %>
  </p>

  <%= link_to(content_tag('i', '', class:['fas', 'fa-edit']), edit_picture_path(@picture)) %>
  <%= link_to(content_tag('i', '', class:['fas', 'fa-undo-alt']), myprofile_path) %>


  <br>
  <br>
  <div>
  <%= render_shareable :buttons=> ['twitter', 'facebook'] %>
  </div>

</div>
